<section>
  <div class="container">
    <div class="row">
      <div class="col-9">
        <div class="navbar">
          <app-navbar (ejectSearchName)="callSearchBooks($event)" [showItems]="searchBooks"></app-navbar>
        </div>
        <div class="pane">
          <app-card *ngFor="let item of books"
          [bookCard]="item"
          (ejectBooks)="increaseCart($event)"
          ></app-card>
        </div>
      </div>
      <div class="col-3">
        <h1>Cart</h1>
        <ol class="list-group list-group-numbered">
          <app-cart
            *ngFor="let item of cartBooks"
            [bookCarts]="item"
            (removeBooks)="decreaseCart($event)"
            (changeIncQuantity)="modifyIncCart($event)"
            (changeDecQuantity)="modifyDecCart($event)"
            >
          </app-cart>
        </ol>
        <p>Total Price: {{total}}</p>
      </div>
    </div>
  </div>
</section>