/* You can add global styles to this file, and also import other style files */
.pane{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.navbar{
    width: fit-content;
    padding: 20px;
    text-align: center;
}
.navbar input{
    width: 30vw;
    margin: 10px;
    margin-left: 3vw;
}